@model IEnumerable<SrbWeb.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorias</h1>

<p>
    <a asp-action="Create">Criar Categoria</a>
</p>
<table class="table content-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDescription)
            </td>
            <td>
                    @Html.ActionLink("Alterar", "Edit", new { CategoryId=item.CategoryId }) 
                    @Html.ActionLink("Detalhes", "Details", new { CategoryId=item.CategoryId }) 
                    @Html.ActionLink("Deletar", "Delete", new {CategoryId=item.CategoryId },
                    new { onclick = "return confirm('Deseja realmente deletar este produto ?');" })
                </td>
            </tr>
        }
        <tr>
            <td>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </td>
        </tr>
    </tbody>



</table>

